.row2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
}
@media only screen and (max-width: 400px){
  .row2{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .row2-items{
    margin-left: 2px;
    margin-right: 2px;
    width: 100%;    
  }
}